{% extends "base.html.twig" %}

{% block title %}Edition d'une annonce{% endblock title %}

{% form_theme form "ad/_collection.html.twig" %}

{% block body %}

    <div class="container">
        <h4 class="my-3">Modifier l'annonce : <em>{{ad.title}}</em></h4>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="text-center">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                Enregistrer les modifications
            </button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags('ad') }}
{% endblock javascripts %}
